<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roya.shawnsportfolio">

    <application
        android:allowBackup="true"
        android:icon="@drawable/briefcase"
        android:label="@string/app_name"
        android:roundIcon="@drawable/briefcase"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Portfolio_homepage" />
        <activity android:name=".myself" />
        <activity android:name=".education" />
        <activity android:name=".skills" />
        <activity android:name=".projects"/>
        <activity android:name=".family" />
        <activity android:name=".contacts" />
        <activity android:name=".calculator" />
        <activity android:name=".Registration_Confirmation" />
        <activity android:name=".Login_Home" />
        <activity android:name=".registration" />
        <activity android:name=".login">
        </activity>

    </application>
</manifest>